In [46]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

df_train = pd.read_csv('clean_train.csv')
df_train.drop(['Unnamed: 0'], axis=1, inplace=True)
df_train['Age'] = (df_train['Age'] - df_train['Age'].mean()) / df_train['Age'].std()
df_train['Fare'] = (df_train['Fare'] - df_train['Fare'].mean()) / df_train['Fare'].std()
df_train.head()

   Survived  Sex       Age  SibSp      Fare
0         0    0 -0.592148      1 -0.502163
1         1    1  0.638430      1  0.786404
2         1    1 -0.284503      0 -0.488580
3         1    1  0.407697      1  0.420494
4         0    0  0.407697      0 -0.486064

In [47]:
gs = GridSearchCV(
    estimator=KNeighborsClassifier(),
    param_grid={
        'n_neighbors': [i for i in range(5, 15)],
        'weights': ('uniform', 'distance'),
        'p': [i for i in range(1, 5)]
    })

gs.fit(df_train.drop(['Survived'], axis=1), df_train['Survived'])

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                         'p': [1, 2, 3, 4],
                         'weights': ('uniform', 'distance')})

In [63]:
df_test = pd.read_csv('clean_test.csv')
df_test.drop(['Unnamed: 0'], axis=1, inplace=True)
df_test['Age'] = (df_test['Age'] - df_test['Age'].mean()) / df_test['Age'].std()
df_test['Fare'].fillna(df_test['Fare'].mean(), inplace=True)
df_test['Fare'] = (df_test['Fare'] - df_test['Fare'].mean()) / df_test['Fare'].std()
df_test.head()

   Sex       Age  SibSp      Fare  Survived
0    0  0.343872      0 -0.497811         0
1    1  1.333057      1 -0.512660         1
2    0  2.520079      0 -0.464532         0
3    0 -0.249639      0 -0.482888         0
4    1 -0.645313      1 -0.417971         1

In [64]:
gs.score(df_test.drop(['Survived'], axis=1), df_test['Survived'])

0.9354066985645934